

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

 *{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    list-style: none;
}

.logo img{
    height: 100px;
}
li a{
text-decoration: none;
color: #df3412;
}
ul {
    display: flex;
    justify-content: space-between;
    width: 62%;
    font-size: 43px;
    font-weight: 700;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15386E;
    height: 122px;
}
.icon{
    display: flex;
    justify-content: space-around;
    width: 10%;
    font-size: 26px;
}
 .main{
    background-image: url(img/naruto-shippuden.jpg);
     background-size: cover;
     background-repeat: repeat-y;
    height: 100vh;
    width: 100%; 
     } 
     .contener{
        height: 100vh;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;

     }
     
.carre{
    display: flex;
    flex-direction: column;
    border-radius: 52px;
    width: 30%;
    height: 440px;
    background: #15386E;
    border: #BA2127 6px solid;
    position: relative;
}
.nuage2 img{
    height: 299px;
    width: 50%;
    position: absolute;
    top: -150px;
    right: 107px;
}
h3{
    margin-top: 76px;
    text-align: center;
    width: 100%;
    font-size: 45px;
    color: #df3412;
}
p{
    font-size: 24px;
    margin-left: 28px;
    color: white;
}
.parchemin img{
    height: 85px;
    width: 15%;
    position: absolute;
    right: 0;
    bottom: -15px;
}
.boutique img{
    height: 106px;
    width: 28%;
    position: absolute;
    right: -34px;
    bottom: -25px;
}
.chibi img{
    height: 121px;
    width: 27%;
    position: absolute;
    right: -48px;
    bottom: -45px;
}
.bas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15386E;
    height: 75px;
}
h4{
    font-size: 27px;
    margin-left: 24px;
    color: white;
}
.icon2{
    display: flex;
    justify-content: space-around;
    width: 16%;
    font-size: 46px;
}
/* CONTACT */
.fond{
    height: 100vh;
    background-color: #0a0046;
}
.formulaire{
    display: flex;
    flex-direction: column;
    border-radius: 52px;
    width: 78%;
    height: 557px;
    background: #000000;
    border: #BA2127 6px solid;
    position: relative;
}
.nuage3 img{
    height: 331px;
    width: 20%;
    position: absolute;
    top: -165px;
    right: 475px;
}
.nuage3{
    width: 100%;
}
h2{
    color: #BA2127;
    text-align: center;
    margin-top: 67px;
    font-size: 50px;
}
.nom{
       display: flex;
    width: 100%;
    margin-top: 35px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nom input{
    padding: 16px;
border-radius: 15px;
width: 40%;

}

.message{
    display: flex;
    width: 100%;
    height: 72px;
    margin-top: 35px;
    justify-content: space-around;
}
.message input{
    padding: 16px;
border-radius: 15px;
width: 40%; 
}

.envoyez{
    color: white;
    width: 100%;
    margin: auto;
    justify-content: center;
    display: flex;
    margin-top: 1%;
}
.envoyez input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 69px;
    background-color: red;
    color: white;
    font-size: 44px;
}
h5{
    text-align: center;
    font-size: 35px;
    color: white;
    margin-top: 12px;
}
::placeholder{
    color: #BA2127;
    font-size: 20px;
}
.contener_contact{
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;

 }
 /* Navbar mobile */
 .navbar_mobile{
    width: 100%;
    position: relative;
    margin-bottom: 8%;
 }
 label{
    display: block;
    position: fixed;
    top: -20%;
    width: 100%;
    height: 40px;
    cursor: pointer;
 }
 label input{
    appearance: none;
 }
 label .logo_menu{
    position: relative;
    display: block;
    width: 40px;
    height: 100%;
    margin: 20px;
    background: white;
 }
 label .logo_menu ::before{
    content: "\f0c9";
    font-family: "Font Awesome 6 Free";
      font-weight: 900;
         font-size: 1.2em;
            position: absolute;
               top: 0;
                  right: 0;
                     width: 100%;
                        height: 100%;
                           display: flex;
                              justify-content: center;
                                 align-items: center;
 }
 label input:checked ~ .logo_menu::before{
    content: "\f00d";
 }
 input:checked ~ .navigation ul li a{
    display: block;
    visibility: visible;
 }
 .navigation {   display: flex;
       justify-content: center;
          align-items: center;
             overflow: hidden;
                width: 100%;
                   margin-top: -85px;
                      transition: 0.5s;   }
  label input:checked~ .navigation {
    min-height:101vh;  
}
.navigation ul::before{
    position: relative;
  }
  .navigation ul {
    display: flex;
    align-items: center;
    height: 120px;
  }
  .navigation ul li{
    text-align: center;
    list-style: none;
  }
  .navigation ul li a{
    text-decoration: none;
    color: #333;
    font-size: 3em;
    padding: 5px 20px;
    font-weight: 700;
    transition: 0.5s;
    display: none;
  }
  .navigation ul li::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.1);
    z-index: -1;
    border-radius: 50%;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    opacity: 1;
    transition: letter-spacing 0.5s, left 0.3s;
  }
  .navigation ul li a:hover::before{
    content: ""; 
    opacity: 1;
    letter-spacing: 10px;
    left: 50%;
    width: 3000px;
    background-color: red;
  
  }
  .navigation ul li:nth-child(1) a::before{
    background-color: yellow;
  }
/* MEDIA */
@media (max-width:1050px) {
    .navbar ul{
        display: none;
    }
    .icon{
        display: none;
    }
}
@media (max-width:1030px){
.contener{
    flex-direction: column;
    height: 300vh;
}
h3,p{
    font-size: 20px;
}

}
@media (max-width:1000px){
    .nuage3 img{
        right: 270px;
        width: 37%;
    }
}

@media (max-width:800px) {
    .icon2{
        font-size: 39px;
    }
}
@media (max-width:700px){
    .nuage3 img{
        right: 172px;
        width: 37%;
    }
}
@media (max-width:600px){
  .nom {
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }  
  .nom input{
    padding: 16px;
    border-radius: 15px;
    width: 75%;
    margin-bottom: 15px;
    align-items: center;
  }
  .fond{
    height: 150vh;
  }
  .formulaire{
    height: 769px;
  }
  .contener_contact{
    height: 900px;
  }
  .message{
    height: 100px;
  }
  .message input{
    height: 92px;
    width: 61%;
  }
  .icon2{
    font-size: 25px;
  }
}
@media (max-width:500px){
    .nuage3 img{
        right: 75px;
        width: 56%;
    }
}
@media (max-width:430px) {
    .envoyez input{
        padding: 4px 29px;
        font-size: 35px;
    }
    h2{
        font-size: 29px;
    }
}
@media (max-width:443px){
    .message input{
        width: 75%;
    }
    h4{
        font-size: 20px;
    }
}
@media (max-width:400px){
    .icon2{
        font-size: 20px;
    }
}
